<main class="container general-main-wrap">
  <h1 class="general-title-margin">Checkout</h1>
  <ul class="steps list-inline">
    <li class="step active">
      <span class="step-number">1</span>
      <span class="step-text hidden-xs">Address</span></li>
    <li class="step-divider"></li>
    <li class="step active">
      <span class="step-number">2</span>
      <span class="step-text hidden-xs">Delivery</span></li>
    <li class="step-divider"></li>
    <li class="step active">
      <span class="step-number">3</span>
      <span class="step-text hidden-xs">Payment</span></li>
    <li class="step-divider"></li>
    <li class="step active">
      <span class="step-number">4</span>
      <span class="step-text hidden-xs">Confirm</span></li>
    <li class="step-divider"></li>
    <li class="step">
      <span class="step-number">5</span>
      <span class="step-text hidden-xs">Complete</span></li>
  </ul>
  <div class="row mb-20">
    <div class="col-sm-3">
      <h3 class="general-subtitle">Shipping Address</h3>
      <p class="general-address"><%= @shipping.map(&:first_name).first %>
        &nbsp<%= @shipping.map(&:last_name).first %>
        <br /><%= @shipping.map(&:address).first %>
        <br /><%= @shipping.map(&:city).first %>
        <br /><%= @shipping.map(&:zip).first %>
        <br /><%= @shipping.map(&:country).first %>
        <br />Phone <%= @shipping.map(&:phone).first %></p>
    </div>
    <div class="col-sm-3">
      <h3 class="general-subtitle">Billing Address</h3>
      <p class="general-address"><%= @billing.map(&:first_name).first %>
        &nbsp<%= @billing.map(&:last_name).first %>
        <br /><%= @billing.map(&:address).first %>
        <br /><%= @billing.map(&:city).first %>
        <br /><%= @billing.map(&:zip).first %>
        <br /><%= @billing.map(&:country).first %>
        <br />Phone <%= @billing.map(&:phone).first %></p>
    </div>
    <div class="col-sm-3">
      <h3 class="general-subtitle">Shipments</h3>
      <p class="general-address"><%= @delivery.duration %>
        <br />by <%= @delivery.method %></p>
    </div>
    <div class="col-sm-3">
      <h3 class="general-subtitle">Payment Information</h3>
      <p class="general-address">** ** ** <%= @card_number[-4..@card_number.size] %>
        <br /><%= @exp_date %></p>
    </div>
  </div>

  <div class="divider-lg pt-20">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>
            <span class="in-grey-600">Book</span></th>
          <th class="col-method"></th>
          <th>
            <span class="in-grey-600">Price</span></th>
          <th>
            <span class="in-grey-600">Quantity</span></th>
          <th>
            <span class="in-grey-600">Total</span></th>
        </tr>
      </thead>
      <tbody>
        <% @cart_service.items.each do |item| %>
        <tr>
            <td>
              <div class="general-img-wrap-table">
                <%= image_tag @cart_service.image(item.id) %>
              </div>
            </td>
            <td>
              <p class="title"><%= @cart_service.book_title(item.id) %></p>
              <p class="in-grey-600 fw-300"><%= @cart_service.book_description(item.id) %></p>
            </td>
            <td>
              <span class="font-16 in-gold-500">€<%= @cart_service.book_price(item.id) %></span></td>
            <td>
              <span class="ml-30"><%= item.quantity %></span></td>
            <td>
              <span class="font-16 in-gold-500">€<%= @cart_service.item_subtotal(item.id) %></span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="text-center general-text-right">
    <p class="in-gold-500 font-18">Order Summary</p>
    <table class="general-summary-table general-summary-table-right general-text-right">
        <tr>
          <td>
            <p class="font-16">Subtotal:</p>
          </td>
          <td>
            <p class="font-16">€<%= @cart.item_total_price %></p>
          </td>
        </tr>
        <tr>
          <td>
            <p class="font-16">Coupon:</p>
          </td>
          <td>
            <p class="font-16">€<%= @cart.coupon %></p>
          </td>
        </tr>
        <tr>
          <td>
            <strong class="font-18">Order Total:</strong></td>
          <td>
            <strong class="font-18">€<%= @cart.order_total_price %></strong></td>
        </tr>
    </table>
  </div>
  <div class="text-center">
    <%= form_for @cart, url: next_wizard_path do |f| %>
      <button type="submit" class="btn btn-default mb-20">Place Order</button>
    <% end %>
  </div>
    <a href="<%= url_for(previous_wizard_path) %>" class="general-back-link">
      <i class="fa fa-long-arrow-left mr-15"></i>Back</a>
</main>