<main class="container general-main-wrap">
  <h1 class="general-title-margin">Checkout</h1>
  <ul class="steps list-inline">
    <li class="step active">
      <span class="step-number">
        <i class="fa fa-check step-icon"></i></span>
      <span class="step-text hidden-xs">Address</span></li>
    <li class="step-divider"></li>
    <li class="step active">
      <span class="step-number">2</span>
      <span class="step-text hidden-xs">Delivery</span></li>
    <li class="step-divider"></li>
    <li class="step">
      <span class="step-number">3</span>
      <span class="step-text hidden-xs">Payment</span></li>
    <li class="step-divider"></li>
    <li class="step">
      <span class="step-number">4</span>
      <span class="step-text hidden-xs">Confirm</span></li>
    <li class="step-divider"></li>
    <li class="step">
      <span class="step-number">5</span>
      <span class="step-text hidden-xs">Complete</span></li>
  </ul>

  <%= form_for @cart, url: next_wizard_path do |f| %>
  <div class="mb-res-50">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-method">
            <span class="in-grey-600 ml-40">Method</span></th>
          <th>
            <span class="in-grey-600">Days</span></th>
          <th>
            <span class="in-grey-600">Price</span></th>
        </tr>
      </thead>
      <tbody>
        <% @deliveries.each do |delivery| %>
        <tr>
          <td>
            <div class="form-group radio mt-0 mb-0">
              <label class="radio-label">&nbsp&nbsp&nbsp&nbsp
              <%= radio_button_tag(:delivery, delivery.id) %>
              <span class="radio-text"><%= delivery.method %></span>
              </label>
            </div>
          </td>
          <td>
            <span><%= delivery.duration %></span></td>
          <td>
            <span class="font-16 in-gold-500">€<%= delivery.price %></span>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="general-text-align">
    <p class="in-gold-500 font-18">Order Summary</p>
    <table class="general-summary-table">
        <tr>
          <td>
            <p class="font-16">Subtotal:</p>
          </td>
          <td>
            <p class="font-16">€<%= @cart.item_total_price %></p>
          </td>
        </tr>
        <tr>
          <td>
            <p class="font-16">Coupon:</p>
          </td>
          <td>
            <p class="font-16">€<%= @cart.coupon %></p>
          </td>
        </tr>
        <tr>
          <td>
            <strong class="font-18">Order Total:</strong></td>
          <td>
            <strong class="font-18">€<%= @cart.order_total_price %></strong></td>
        </tr>
      </table>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-default mb-80">Save and Continue</button></div>
  <% end %>
  <a href="<%= url_for(previous_wizard_path) %>" class="general-back-link">
      <i class="fa fa-long-arrow-left mr-15"></i>Back</a>
</main>