<main class="container mb-res-50">
  <h1 class="general-title-margin"><%= I18n.t('checkout.title') %></h1>
  <ul class="steps list-inline">
    <li class="step active">
      <span class="step-number">
        <i class="fa fa-check step-icon"></i></span>
      <span class="step-text hidden-xs"><%= I18n.t('checkout.steps.address') %></span></li>
    <li class="step-divider"></li>
    <li class="step active">
      <span class="step-number">
        <i class="fa fa-check step-icon"></i></span>
      <span class="step-text hidden-xs"><%= I18n.t('checkout.steps.delivery') %></span></li>
    <li class="step-divider"></li>
    <li class="step active">
      <span class="step-number">3</span>
      <span class="step-text hidden-xs"><%= I18n.t('checkout.steps.payment') %></span></li>
    <li class="step-divider"></li>
    <li class="step">
      <span class="step-number">4</span>
      <span class="step-text hidden-xs"><%= I18n.t('checkout.steps.confirm') %></span></li>
    <li class="step-divider"></li>
    <li class="step">
      <span class="step-number">5</span>
      <span class="step-text hidden-xs"><%= I18n.t('checkout.steps.complete') %></span></li>
  </ul>
  <h3 class="general-subtitle"><%= I18n.t('credit_card.title') %></h3>
  <%= form_for @cart, url: next_wizard_path, html: { class: 'max-600 mb-80' } do |f| %>
  <div>
    <label for="cardNumber" class="control-label input-label"><%= I18n.t('credit_card.attrs.number.title') %></label>
    <input id="cardNumber" type="text" name="card_number" placeholder="<%= I18n.t('credit_card.attrs.number.placeholder') %>" class="form-control" required
      pattern="^[0-9]{4}\s[0-9]{4}\s[0-9]{4}\s[0-9]{4}$" maxlength="19" title="Should not be empty,
        Can start with 
        Consist of 0-9 only,
        format: 0000 0000 0000 0000" />
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="cardName" class="control-label input-label"><%= I18n.t('credit_card.attrs.name.title') %></label>
        <input id="cardName" type="text" name="card_name" placeholder="<%= I18n.t('credit_card.attrs.name.placeholder') %>" class="form-control" required
          pattern="^[a-zA-Z\s]+$" maxlength="50" title="Should not be not empty,
            Consist of a-z, A-Z, no special symbols,
            Can contain spaces,
            Must be less than 50 characters." />
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="firstName" class="control-label input-label"><%= I18n.t('credit_card.attrs.expiration_date.title') %></label>
        <input id="firstName" name="exp_date" type="text" placeholder="<%= I18n.t('credit_card.attrs.expiration_date.placeholder') %>" class="form-control" required pattern="^(0[1-9]|1[0-2])[/][1][0-9]$"
          maxlength="5" title="Should not be empty,
          Has a month on the left of a slash /, the year on the right.
          Month value can be from 01 to 12." />
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group relative">
        <label for="firstName" class="control-label input-label"><%= I18n.t('credit_card.attrs.cvv.title') %></label>
        <input id="firstName" name="cvv" type="password" placeholder="<%= I18n.t('credit_card.attrs.cvv.placeholder') %>" class="form-control" required pattern="^\d{3,4}$"
          maxlength="4" title="Should not be empty,
            Should be masked.
            Min Length is 3 digits, or
            Min Length is 4 digits." />
      </div>
    </div>

    <div class="general-text-align">
      <p class="in-gold-500 font-18"><%= I18n.t('shared.order_summary.title') %></p>
      <table class="general-summary-table">
        <tr>
          <td>
            <p class="font-16"><%= I18n.t('shared.order_summary.subtotal') %></p>
          </td>
          <td>
            <p class="font-16">€
              <%= @cart.item_total_price %>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p class="font-16"><%= I18n.t('shared.order_summary.delivery') %></p>
          </td>
          <td>
            <p class="font-16">€
              <%= @delivery_price %>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p class="font-16"><%= I18n.t('shared.order_summary.coupon_discount') %></p>
          </td>
          <td>
            <p class="font-16">€
              <%= @cart.coupon %>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <strong class="font-18"><%= I18n.t('shared.order_summary.order_total') %></strong>
          </td>
          <td>
            <strong class="font-18">€
              <%= @cart.order_total_price %></strong>
          </td>
        </tr>
      </table>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-default mb-80"><%= I18n.t('checkout.save_continue_btn') %></button></div>
    <% end %>
    <a href="<%= url_for(previous_wizard_path) %>" class="general-back-link">
      <i class="fa fa-long-arrow-left mr-15"></i><%= I18n.t('checkout.back') %></a>
</main>