<main class="container general-main-wrap">
  <div class="text-center">
    <h3 class="general-login-title">Edit <%= resource_name.to_s.humanize %></h3>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'general-form' }) do |f| %>
  <div class="form-group mb-30">
    <%= devise_error_messages! %>
  </div>

  <div class="form-group mb-30">
    <label for="email" class="control-label input-label">Enter Email</label>
    <input id="email" name="user[email]" type="email" placeholder="Email" class="form-control" , autofocus="true" />
  </div>

  <div class="form-group mb-30">
    <label for="name" class="control-label input-label">Enter Name</label>
    <input id="name" name="user[name]" type="text" placeholder="Your name" class="form-control" />
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div class="form-group mb-30">
    Currently waiting confirmation for:
    <%= resource.unconfirmed_email %>
  </div>
  <% end %>

  <div class="form-group mb-30">
    <label for="password" class="control-label input-label">Password</label>
    <% if @minimum_password_length %>
    <label for="password" class="control-label input-label">
      <em>(
        <%= @minimum_password_length %> characters minimum)</em>
    </label>
    <% end %><br />
    <input id="password" name="user[password]" type="password" placeholder="Password" class="form-control" />
  </div>

  <div class="form-group mb-30">
    <label for="password" class="control-label input-label">Password confirmation</label>
    <input id="password_confirmation" name="user[password_confirmation]" type="password" placeholder="Password confirmation"
      class="form-control" />
  </div>


  <div class="form-group mb-30">
    <label for="password" class="control-label input-label">Current password</label>
    <input id="user_current_password" name="user[current_password]" type="password" placeholder="Current password"
      class="form-control" />
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-default mb-20" name="commit" value="Update">Update</button>
  </div>
  <% end %>

  <%= form_tag('/users', :method => :delete) do %>
  <div class="form-group mb-30">
    <p class="general-sign-text text-center">Unhappy?
      <div class="text-center">
        <button type="submit" class="btn btn-default mb-20" name="commit" value="Cancel my account" data-confirm="Are you sure?">Cancel my account</button>
      </div>
    </p>
  </div>
  <% end %>

  <p class="general-sign-text text-center">Don’t want update?
    <a href="/" class="in-gold-500">Back to Store</a></p>
</main>