<main class="container">
  <div id="slider" data-ride="carousel" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#slider" data-slide-to="0" class="active"></li>
      <li data-target="#slider" data-slide-to="1"></li>
      <li data-target="#slider" data-slide-to="2"></li>
    </ol>
    <div role="listbox" class="carousel-inner">

      <div class="item active">
        <% if @last_three_books.last %>
        <div class="row">
          <div class="col-sm-5">
            <div class="general-img-wrap">
              <img src=<%=@last_three_books.last.image %> alt="design-book"
              class="img-shadow general-thumbnail-img" /></div>
          </div>
          <div class="col-sm-7">
            <div class="mb-60">
              <h1>
                <%= @last_three_books.last.title %>
              </h1>
              <p class="lead">
                <%= @last_three_books.last.description %>
              </p>
              <p class="lead small">
                <%= @last_three_books.last.author %>
              </p>
              <div class="general-align">

                <button id="btn_buy_now" onclick="show_book(<%= @last_three_books.last.id %>)" class="btn btn-primary"><%= I18n.t('home.buy_now') %></button>

              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>

      <% @last_three_books.take(2).each do |book| %>
      <div class="item">
        <div class="row">
          <div class="col-sm-5">
            <div class="general-img-wrap">
              <img src=<%=book.image %> alt="design-book"
              class="img-shadow general-thumbnail-img" /></div>
          </div>
          <div class="col-sm-7">
            <div class="mb-60">
              <h1>
                <%= book.title %>
              </h1>
              <p class="lead">
                <%= book.description %>
              </p>
              <p class="lead small">
                <%= book.author %>
              </p>
              <div class="general-align">

                <button onclick="show_book(<%= book.id %>)" class="btn btn-primary"><%= I18n.t('home.buy_now') %></button>

              </div>
            </div>
          </div>

        </div>
      </div>
      <% end %>
    </div>
    <a href="#slider" role="button" data-slide="prev" class="left carousel-control">
      <span aria-hidden="true" class="icon-prev"></span>
      <span class="sr-only">Previous</span></a>
    <a href="#slider" role="button" data-slide="next" class="right carousel-control">
      <span aria-hidden="true" class="icon-next"></span>
      <span class="sr-only"><%= I18n.t('home.next') %></span></a>
  </div>
</main>
<div class="container">
  <div class="jumbotron text-center mb-0">
    <h2 class="h1"><%= I18n.t('home.invitation') %></h2>
    <div class="mb-res-50">
      <p><%= I18n.t('home.shop_description') %></p>
    </div>
    <button type="button" id="btn_get_started" class="btn btn-default"><%= I18n.t('home.get_started') %></button>
  </div>
  <div class="mb-35">
    <h3><%= I18n.t('home.bestsellers') %></h3>
    <div class="row">
      <% @bestsellers.each do |book| %>
      <div class="col-sm-6 col-md-3">
        <div class="general-thumb-wrap">
          <div class="thumbnail general-thumbnail">
            <img src=<%=book.image %> alt="design-book"
            class="img-shadow general-thumbnail-img" />
            <div class="thumb-hover">
              <div class="general-thumb-link-wrap">
                <a id="start-link-view-book-<%= book.id %>" href="/books/<%= book.id %>" class="thumb-hover-link">
                  <i aria-hidden="true" class="fa fa-eye thumb-icon"></i></a>

                <a id="start-link-add-to-cart" href="/add_item?add_item=<%= book.id %>" class="thumb-hover-link">
                  <i class="fa fa-shopping-cart thumb-icon"></i></a>

                </div>
            </div>
          </div>
        </div>
        <div class="mb-35">
          <div class="clearfix">
            <p class="pull-right font-16 in-gold-500">€
              <%= book.price %>
            </p>
            <p class="title mr-55">
              <%= book.title %>
            </p>
          </div>
          <span class="divider-sm"></span>
          <p class="lead small">
            <%= book.author %>
          </p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <script>
    function show_book(book_id) {
      window.location.href = '/books/' + book_id;
      return true;
    }
  </script>
</div>