<main class="container">
  <h1 class="general-title-margin">Сatalog</h1>

  <div class="hidden-xs clearfix">
    <div class="dropdowns pull-right">
      <div class="dropdown width-240">
        <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle lead small">Newest
          first
          <i class="fa fa-angle-down dropdown-icon pull-right"></i></a>
        <ul class="dropdown-menu">
          <li>
            <a id="newest-first" href="#">Newest first</a></li>
          <li>
            <a id="popular-first" href="#">Popular first</a></li>
          <li>
            <a id="low-to-hight" href="#">Price: Low to hight</a></li>
          <li>
            <a id="hight-to-low" href="#">Price: Hight to low</a></li>
        </ul>
      </div>
    </div>

    <ul class="list-inline pt-10 mb-25 mr-240">
      <li class="mr-35">
        <a id="catalog-cat-all" href="#" class="filter-link">All
          <span class="badge general-badge">
            <%= @all_books.count %>
          </span>
        </a>
      </li>

      <% @category.each do |cat| %>
      <li>
        <a id="catalog-<%= cat.type_of.delete(' ') %>" href="#" class="filter-link" data-remote="true">
          <%= cat.type_of %>
          <span class="badge general-badge">
            <%= Book.where(category_id: cat.id).count %>
          </span>
        </a>
      </li>
      <li> </li>
      <% end %>
    </ul>
  </div>
  <!---->
  <div class="dropdowns mb-25 visible-xs">
    <p class="lead small mb-10">Filter by category</p>
    <div class="dropdown">
      <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle lead small">All
        <i class="fa fa-angle-down dropdown-icon pull-right">
        </i>
      </a>
      <ul class="dropdown-menu">
        <% @category.each do |cat| %>
          <li>
          <a id="sm-catalog-<%= cat.type_of.delete(' ') %>" href="#" class="filter-link" data-remote="true">
            <%= cat.type_of %>
            <span class="badge general-badge">
              <%= Book.where(category_id: cat.id).count %>
            </span>
          </a>
          </li>
          <li> </li>
        <% end %>
      </ul>
    </div>

    <p class="lead small mb-10">Sort by</p>
    <div class="dropdown">
      <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle lead small">Newest
        first
        <i class="fa fa-angle-down dropdown-icon pull-right">
        </i>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a id="sm-newest-first" href="#">Newest first</a></li>
        <li>
          <a id="sm-popular-first" href="#">Popular first</a></li>
        <li>
          <a id="sm-low-to-hight" href="#">Price: Low to hight</a></li>
        <li>
          <a id="sm-hight-to-low" href="#">Price: Hight to low</a></li>
      </ul>
    </div>
  </div>
  <!---->
  <div class="mb-120">
    <div class="row mb-25">
      <% @books.each do |book| %>
      <div class="col-xs-6 col-sm-3">
        <div class="general-thumb-wrap">
          <div class="thumbnail general-thumbnail">
            <img src=<%=book.image %> alt="design-book"
            class="img-shadow general-thumbnail-img" />
            <div class="thumb-hover">
              <div class="general-thumb-link-wrap">
                <a href="/books/<%= book.id %>" class="thumb-hover-link">
                  <i aria-hidden="true" class="fa fa-eye thumb-icon">
                  </i>
                </a>
                <% if user_signed_in? %>
                <a href="#" class="thumb-hover-link">
                  <i class="fa fa-shopping-cart thumb-icon"></i></a>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="general-thumb-info">
          <p class="title">
            <%= book.title %>
          </p>
          <p class="font-16 in-gold-500">€
            <%= book.price %>
          </p>
          <span class="divider-sm"></span>
          <p class="lead small">
            <%= book.author %>
          </p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</main>
<%= pagy_bootstrap_nav(@pagy).html_safe %>