<header class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle pull-left">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span></button>
      <a class="navbar-brand">Bookstore</a>
      <a href="#" class="shop-link pull-right visible-xs">
        <span class="shop-icon">
          <span class="shop-quantity">3</span></span></a></div>
    <a href="#" class="shop-link pull-right hidden-xs">
      <span class="shop-icon">
        <span class="shop-quantity">3</span></span></a>
    <div id="navbar" aria-expanded="false" class="navbar-collapse collapse pl-30">
      <div class="visible-xs">
        <button type="button" aria-label="Close" class="close">
          <span aria-hidden="true">&times;</span></button>
        <ul class="nav navbar-nav">
          <li>
            <a href="#">Home</a></li>
          <li>
            <a type="button" data-toggle="collapse" href="#menu" aria-expanded="false" aria-controls="menu">Shop</a>
            <ul id="menu" aria-expanded="false" class="collapse list-unstyled pl-30 mb-10">
              <li>
                <a href="#" class="collapse-link">Mobile development</a></li>
              <li>
                <a href="#" class="collapse-link">Photo</a></li>
              <li>
                <a href="#" class="collapse-link">Web design</a></li>
            </ul>
          </li>
          <li>
            <a href="#">My account</a></li>
        </ul>
      </div>
      <div class="hidden-xs">
        <ul class="nav navbar-nav">
          <li>
            <a id="home" href="/admin/login">Home</a></li>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Shop</a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Mobile development</a></li>
              <li>
                <a href="#">Photo</a></li>
              <li>
                <a href="#">Web design</a></li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="#">Log out</a></li>
            </ul>
          </li>
          <li>
            <a id="link_user_account" href="#">My account</a></li>
        </ul>
      </div>
    </div>
  </div>

  <% if user_signed_in? %>
  <h3>user_signed</h3>
  <%= current_user.email %><br>
  <%= current_user.name %><br>
  <% end %>

  <li><a href="<%= new_user_registration_path %>">
      <%= t('devise.registrations.new.sign_up') %></a></li>
  <li><a href="<%= new_user_session_path %>">
      <%= t('devise.shared.links.sign_in') %></a></li>
  <li>
    <%= link_to t('devise.shared.links.account'), edit_user_registration_path %>
  </li>
  <li class="divider"></li>
  <li>
    <%= link_to t('devise.shared.links.sign_out'), destroy_user_session_path, method: :delete %>
  </li>

  <p class="notice">
    <%= notice %>
  </p>
  <p class="alert">
    <%= alert %>
  </p>

</header>